@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0 auto;
}

.destaques{
    display: flex;
    justify-content: center;
    align-items: center;
}

.destaques h1{
    font-family: "Anton", sans-serif;
    font-size: 40px;
}

.imagens{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    
}
.imagens img{
    padding: 40px 30px 40px 30px;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.imagens img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


