@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  padding: 20px;
}

.titulo {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.card {
  padding: 40px 30px 40px 30px;
  border-radius: 20px;
  border: 3px solid #000000;
  background-color: white;
  color: #000000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 2px 3px 21px 5px rgba(0,0,0,0.75);
    transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
