@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.pagina-add {
 font-family: "Roboto", sans-serif;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
  max-width: 500px;
  margin: auto;
}

.form {
    margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

input {

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.btn-salvar {
  background: #111;
  color: white;
  padding: 20px 65px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-salvar:hover {
  background: #333;
}

