@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.sobre-container {
    max-width: 900px;
    margin: 40px auto; 
    padding: 30px;
    font-family: "Roboto", sans-serif; 
    line-height: 1.6;
    background-color: #f9f9f9;
    border-radius: 20px; 
    border: 3px solid #000000; 
}

.projeto-titulo {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 50px;
    color: #000000; 
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.imagem-placeholder {
    object-fit: cover;
    width: 600px;
    height: 350px;
    margin-bottom: 40px;
    padding: 40px 30px; 
    background-color: white; 
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 1.2em;
    cursor: default;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ddd;
}

.imagem-placeholder:hover {
    box-shadow: 2px 3px 21px 5px rgba(0,0,0,0.25); 
    transform: scale(1.02); 
}

.imagem-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.descricao-projeto h2 {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.bloco-texto {
    margin-bottom: 25px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
    border: 1px solid #eee;
}

.bloco-texto:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.bloco-texto h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.bloco-texto p strong {
    font-weight: 900;
    color: #000000;
}