.header{
    animation: slideIn 0.7s ease-out forwards;
    transform: translateX(-100%);
    opacity: 0;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    height: 100px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);

}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.logo{
    height: 500px;
}

.links{
    font-family: "Anton", sans-serif;
    display: flex;
    gap: 50px;
    margin-right: 20px;
    font-size: 30px;
    padding-right: 100px;
    
}

.links a{
    text-decoration: none;
    color: #000000;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.links a:hover{
    border-color: #000000;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}