@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.footer{
    width: 100%;
    background: black;
    color: white;
    padding: 50px 0;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    font-family: "Anton", sans-serif;
}